@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@900&display=swap");

.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart {
  padding: 1rem;
  margin: 1rem;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 5rem;
}

.cart-items li {
  display: flex;
}

.cart-items div {
  padding: 0.5rem;
}

.cart-items:last-child {
  flex: 1;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total > div {
  font-size: 2rem;
}

.total > div,
total > button {
  flex: 1;
}

.form {
  width: 100%;
}

.form-container {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}

.remove-button {
  background: rgb(217, 26, 33);
  color: white;
  padding: 0.3rem;
  border: 0.1rem #c0c0c0 solid;
  cursor: pointer;
}

.remove-button:hover {
  border: 0.1rem #838383 solid;
  background-color: black;
}

.order-details {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  font-family: "Lexend Deca", sans-serif;
}

.order-class li {
  justify-content: space-around;
}

.thank-you {
  font-family: "Lexend Deca", sans-serif;
}
